<h1>The newest issue</h1>

<p>Create page for the next issue you want to publish.</p>

<form>
    <div class="row">
        <div class="form-group col-md-2">
            <label>Volume</label>
            <input type="number" class="form-control" placeholder="Volume" [(ngModel)]="newIssue.volume" name="volume">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-2">
            <label>Number</label>
            <input type="number" class="form-control" placeholder="Number" [(ngModel)]="newIssue.number" name="number">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-2">
            <label>All time number</label>
            <input type="number" class="form-control" placeholder="All time number" [(ngModel)]="newIssue.allTime" name="allTime">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <label>Name</label>
            <input type="text" class="form-control" placeholder="Name" [(ngModel)]="newIssue.name" name="name">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <label>Deadline</label>
            <input type="date" class="form-control" placeholder="Deadline" [(ngModel)]="newIssue.deadline" name="deadline">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <label>Description</label>
            <input type="tel" class="form-control" placeholder="Description" [(ngModel)]="newIssue.description" name="description">
        </div>
    </div>
    <div class="row">
        <button type="button" class="btn-primary" (click)="addIssue()">Add Issue</button>
    </div>
</form>