<h1 class="text-primary">Create your newspaper with us!</h1>

<div class="col-md-4">
    <img src="../../../../wwwroot/Impulzus.jpg" class="img-responsive"/>
</div>
<div class="colmd-6">
    <br/>
    <h3 class="text-primary text-center">We know how hard is it to manage every process</h3>
    <br/>
    <h5 class="text-center">Thats why we created the MakeYourJournal application</h5>
    With this, you can easily follow every process and share them with your editorial team. 
    No more delayed article or printing, because everyone is working the hardest possible!<br/>
    And the best part is that it is fully suited just for your paper - everything is just as you like it! 
</div>